
a
{
    color: rgb(217, 70, 182) !important;
}
.abc
{
    margin: auto !important;
}

.card
{
   
    transition: 3s;
    border: 3px groove rgb(14, 14, 12) !important;
}

.card:hover
{
    transform: scale(1.1);
    transition: 3s;
    z-index: 1;
    box-shadow: 0px 0px 20px rgb(184, 44, 19);
}


.xyz
{
    border: 10px groove rgb(14, 14, 12) !important;
}

.pqr
{ 
    border: 3px groove rgb(183, 183, 36) !important;
    margin-top: 5px;
    background-color: rgb(157, 255, 0) !important;
}